

<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <div class="fb-like" data-href="https://snapshotdemo.herokuapp.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                <br/>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
            </div>
        </div>


  <iframe
	  width="1100"
	  height="450"
	  frameborder="0" style="border:0"
	  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDLa4tn_GuBSJEHUb7KNetDMXmo_aJiNAg
	    &q=Space+Needle,Seattle+WA">
	</iframe>