<!DOCTYPE html>
<html>
<head>
  <title>Snapshot2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

	<a href="/">home</a>
	<a href="/about">About</a>

<%= yield %>

</div>

</body>
</html>
